
/*style the enitre body*/
body{
    background-size: 100% 100%;
   /* 
    background-image: url(/res/yyy.jpg);
    background-repeat: no-repeat;
    background-image: cover;
    */
    background-color: burlywood;
    color:black;
    margin: 0;
    padding: 0;
    font-size: normal;
    font-family: roboto;
    text-decoration: solid;
    
}
/*header{
    align-items: center;
    text-decoration: none;
    margin-top: 2px;
}*/
/*style for the header*/
.navbar ul{
    list-style: none;
    text-align: center;
    text-decoration: none;
}
.navbar li{
    display: inline;
    padding: 10px;
    vertical-align: middle;
}
.navbar a{
    padding: 7px 7px 7px 7px;
    vertical-align: middle;
    border-radius: 10px;
}
.navbar a:hover{
    color: white;
    background-color: blue;
    
}/*
.woo{
    width: 15%;
    border-radius: 50px;
    margin-left: 10px;
}*/
/*style for the aboutn me section*/
.hot{
    border-radius: 50px;
    width: 15%;
    margin-left: 80%;
} 
.shade{
    font-size: medium;
    font-weight: 400px;
}
/*style for the subheadings*/
.dot{
    margin: 10px;
    padding: 8px 8px 8px 8px;
    text-decoration: underline;
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
    color: blue;

}
.flo{
    width: 9%;
    padding: 2px;
   
}
#forms{
    display: table;
    padding: 15px;
}
.row{
    display: table-row;
}
.row label{
    display: table-cell;
    padding: 2px;
}
/*style for the submit ntton*/
#sub{
    text-align: center;
    
}
#sub:hover{
    color: blue;
    background-color: blue;
    border-radius: 20px;
    
}
/*style for the icon at footer*/
#icon:hover{
    align-items: baseline;
}
span{
    color: blue;
    font-size: larger;
    font-weight: lighter;
}
video{
    margin-left: 65%;
}